:root {
  --primary-colour: #35bcbf;
  --main-font: "Montserrat", sans-serif;
  --background-colour: #282323;
}

body {
  font-family: var(--main-font);
  max-width: 100%;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

.hero {
  text-align: center;
  background-color: var(--background-colour);
  color: var(--primary-colour);
  padding: 130px 20px;
}

.hero p {
  font-weight: bold;
  font-size: 25px;
}

.hero h2 {
  font-size: 25px;
  margin: 0;
}

.hero a {
  margin: 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .container {
    text-align: center;
  }
}

.about-section img {
  border-radius: 10px;
  display: block;
  margin: 70px 30px;
}

.about-section h1 {
  font-size: 60px;
  margin-top: 50px;
}

.about-section h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 15px;
}

.main-pics {
  border-radius: 20px;
}

.work-content h1,
.contact-page h1 {
  font-size: 50px;
  margin: 50px 20px;
}

.work-content h2 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
