:root {
  --primary-colour: #35bcbf;
  --main-font: "Montserrat", sans-serif;
  --background-colour: #3f525e;
  --logo-font: "Shadows Into Light", cursive;
}

body {
  font-family: var(--main-font);
  max-width: 100%;
}

h1 {
  font-family: var(--logo-font);
  font-size: 100px;
  font-weight: bold;
  padding: 10px;
}

.hero {
  text-align: center;
  background: linear-gradient(
    180.2deg,
    rgb(30, 33, 48) 6.8%,
    rgb(74, 98, 110) 131%
  );
  color: var(--primary-colour);
  padding: 140px 20px;
}

.hero p {
  font-weight: bold;
  font-size: 25px;
  padding: 0;
}

.hero h2 {
  font-size: 25px;
  margin: 0;
}

.hero a {
  margin: 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .container {
    text-align: center;
  }
}

.about-section img {
  border-radius: 10px;
  display: block;
  margin: 70px 30px;
}

.about-section h1 {
  font-size: 60px;
  margin-top: 50px;
}

.about-section h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 15px;
}

.main-pics {
  width: 400px;
  border-radius: 20px;
}

.work-content h1,
.contact-page h1 {
  font-size: 50px;
  margin: 50px 20px;
}

.work-content h2 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.logo {
  max-width: 60px;
}

.certificates {
  max-width: 500px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-colour);
  font-size: 40px;
  background-color: var(--background-colour);
  padding: 10px 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover,
.btn:hover {
  color: var(--background-colour);
  background-color: var(--primary-colour);
}

.btn {
  font-weight: bold;
  color: var(--primary-colour);
  border: none;
  background-color: var(--background-colour);
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 100ms ease-in-out;
}

.small-title {
  font-family: var(--logo-font);
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}

.featured-projects h2 {
  font-family: var(--logo-font);
}
